@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.particles-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff63;
  pointer-events: none;
  opacity: 0;
  animation: particleEffect 1s linear infinite;
}

/* #282c34 */
/* backdrop-filter: blur(10px); */


.introdution-container {
  width: 100%;
  height: 568px;
  width: 100%;
  height: 568px;
  background-image: url('../../assests/img/fundo.png');
  position: relative;
  margin-top: 70px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.stars-animation {
  animation: moveBackgrond 15s infinite ease-in-out alternate;
  position: absolute;
  background: linear-gradient(180deg, rgb(7 6 7), rgb(19 11 20) 70%, rgb(4 7 37));
  opacity: 0.5;
}

.title-container, .animation-shown {
  animation: hasShown 2s ease-in-out forwards;
}

.animation-shown { opacity: 0; }

.title-container {
  margin: 0;
  width: 33vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

h1, small { font-family: 'Nunito', sans-serif; }

small { font-size: 1.5vw; }

h1 {
  color: rgb(164 88 123);
  font-size: 3.5vw;
  text-shadow: 2px 2px 4px #58036e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-content: flex-start;
  place-items: center;
  font-weight: 800;
}

.button-download {
  padding: 15px 28px;
  text-align: center;
  border-radius: 5px;
  /* border: solid 5px rgb(95 109 239); */
  font-family: sans-serif;
  font-size: large;
  font-weight: 600;
  color: white;
  background: #5f6def;
  margin: 0;
  box-shadow: 0px 0px 50px 0px #5f6defab;
  outline: none;
  border: none;
}

.button-download a {
  text-decoration: none;
  color: white;
}

.animation-pulse:hover,
.animation-pulse:focus {
  border-radius: 5px;
  animation: pulse 1.25s ease-in-out infinite;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes hasShown {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 #5f6def; }
}

@keyframes moveBackgrond {
    from {
      overflow-x: hidden;
      transform: translateX(-50px);
    }
}

@keyframes particleEffect {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

::selection {
  background-color: #58036e;
}
