@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.particles-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff63;
  pointer-events: none;
  opacity: 0;
  animation: particleEffect 1s linear infinite;
}

/* #282c34 */
/* backdrop-filter: blur(10px); */


.introdution-container {
  width: 100%;
  height: 568px;
  width: 100%;
  height: 568px;
  background-image: url('../../assests/img/fundo.png');
  position: relative;
  margin-top: 70px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.stars-animation {
  animation: moveBackgrond 15s infinite ease-in-out alternate;
  position: absolute;
  background: linear-gradient(180deg, rgb(7 6 7), rgb(19 11 20) 70%, rgb(4 7 37));
  opacity: 0.5;
}

h1, small {
  font-family: 'Nunito', sans-serif;
}

small {
  font-size: 1.5vw;
}

h1 {
  color: rgb(164 88 123);
  font-size: 3.5vw;
  text-shadow: 2px 2px 4px #58036e;
  width: 33%;
  height: 20vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-content: flex-start;
  place-items: center;
  z-index: 10;
  font-weight: 800;
}

.introdution-container > button {
  padding: 10px 22px;
  text-align: center;
  border-radius: 5px;
  border: solid 5px rgb(95 109 239);
  z-index: 9;
  font-family: sans-serif;
  font-size: large;
  font-weight: 600;
  color: white;
  background: #5f6def;
  margin: 0;
}

button > a {
  text-decoration: none;
  color: white;
}

@keyframes moveBackgrond {
    from {
      overflow-x: hidden;
      transform: translateX(-50px);
    }
}

@keyframes particleEffect {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

h1, button {
  animation: hasShown 2s ease-in-out forwards;
}

button {
  opacity: 0;
  animation-delay: 435ms;
  border: none;
}

@keyframes hasShown {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

button :hover {
  animation: isRippling 5s ease-in-out infinite;
}

@keyframes isRippling {
  0% {
    border: solid 10px rgba(95, 109, 239, 0);
  }
  100% {
    border: solid 10px rgb(95 109 239);
  }
}